input.ng-touched.ng-invalid {border:solid red 2px;}
input.ng-touched.ng-valid {border:solid green 2px;}

.container {
    display: block;
    width: 50%;
    margin: 20px auto;
    border: 2px solid #ccc;
    border-radius: 10px;
}
.title h1 {
    display: block;
    text-align: center;
    background: #799e86;
    padding: 10px;
    color: #ebf2f9;
    margin-top: 0;
    border-radius: 9px 9px 0 0;
}
.email,
.password {
    display: block;
    padding: 10px;
}
label {
    display: inline-block;
    width: 110px;
    font-size: 18px;
    font-weight: bold;
    color: #777;
}
input {
    display: inline-block;
    width:70%;
    padding: 5px;
    border: 1px solid #ccc;
}
.button-wrap {
    display: block;
    text-align: right;
    padding: 20px;    
}
.btn-default {
    display: inline-block;
    padding: 5px 15px;
}