
<div class="container">
  <div class="title">
    <h1>Add Phone Account:</h1>
  </div> 
  <form #payForm="ngForm">
    <div class="form-group phone">
      <label for="phone">Phone:</label>
      <input type="tel" name="phone" id="phone" required [(ngModel)]="phone" #phoneCheck="ngModel" pattern="^((\+38)[\- ]?)?(\(?\d{3}\)?[\- ]?)?[\d\- ]{7,10}$">
      <div [hidden]="phoneCheck.valid || phoneCheck.pristine" class="error-message">
        Not valid phone number
      </div>
    </div>

    <div class="form-group email">
      <label for="email">Email:</label>
      <input type="email" name="email" id="email" required [(ngModel)]="email" #emailCheck="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
      <div [hidden]="emailCheck.valid || emailCheck.pristine" class="error-message">
         Not valid Email
      </div>
    </div>

    <div class="form-group sum">
      <label for="sum">Sum:</label>
      <input type="text" name="sum" id="sum"  min="0" pattern="\d{1,5}"
            required [(ngModel)]="sum" class="short" #sumCheck="ngModel" >
      <div [hidden]="sumCheck.valid || sumCheck.pristine" class="error-message">
        Sum is required
      </div>
    </div>

    <div class="form-group card">
      <label for="card">Card Number:</label>
      <input type="text" name="card" id="card" required [(ngModel)]="card" #cardCheck="ngModel" 
            pattern="\d{16}" >
      <div [hidden]="cardCheck.valid || cardCheck.pristine" class="error-message">
        Card  is required field.
      </div>
    </div> 
    
    <div class="form-group date">  
      <label>Date:</label>
      <select  name="month" id="month" [(ngModel)]="addMonth" #monthCheck="ngModel" required >
          <option *ngFor="let month of months" value="month">{{month}}</option>
      </select>
       <select  name="year" id="year" [(ngModel)]="addYear" #yearCheck="ngModel" required >
          <option *ngFor="let year of years" value="year">{{year}}</option>
      </select>
      <div [hidden]="monthCheck.dirty || yearCheck.dirty" class="error-message">
        Month and year are required field.
      </div>
    </div>       

    <div class="form-group cvs">
      <label for="cvs">CVS:</label>
      <input type="text" name="cvs" id="cvs" required [(ngModel)]="cvs" #cvsCheck="ngModel" 
             pattern="\d{3}">
      <div [hidden]="cvsCheck.valid || cvsCheck.pristine" class="error-message">
        CVS  is required field.
      </div>
    </div>

    <div class="form-group button-wrap">
      <button type="submit" [disabled]="!payForm.form.valid" [routerLink]="'/lastpage'">Pay</button>
    </div>  
  </form>

</div>
